<!-- Main Footer -->
<footer class="main-footer">
    <!-- Del lado izquierdo -->
    <strong>Copyright &copy; 2022 Chignautla, Puebla</strong>

    <!-- Del lado derechoi -->
    <div class="float-right d-none d-sm-inline">
        ITS Teziutlán
    </div>

</footer>