<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Logo AdminLTE 3 -->
    <a href="index3.html" class="brand-link">
        <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Emma Miranda -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <!-- Imagen -->
            <div class="image">
                <img src="~/dist/img/emmanuel.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <!-- Nombre -->
            <div class="info">
                <a href="https://www.facebook.com/EmmanuelMirandaDiaz24" target="_blank" class="d-block">Emmanuel Miranda</a>
            </div>
        </div>

        <!-- Josue Camacho -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <!-- Imagen -->
            <div class="image">
                <img src="~/dist/img/josue.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <!-- Nombre -->
            <div class="info">
                <a href="https://www.facebook.com/chepetin.17" target="_blank" class="d-block">Josué Camacho</a>
            </div>
        </div>

        <!-- Cuadro de búsqueda -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- Inicio Charts -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Charts
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <!-- Menu Charts Arbol -->
                    <ul class="nav nav-treeview">
                        <!-- Item ChartJS -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Charts" asp-action="Chartjs">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ChartJS</p>
                            </a>
                        </li>
                        <!-- Item Flot -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Charts" asp-action="Flot">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Flot</p>
                            </a>
                        </li>

                    </ul>

                </li>
                <!-- Fin Charts -->
                <!-- Inicio Forms -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Forms
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <!-- Menu Forms Arbol-->
                    <ul class="nav nav-treeview">
                        <!-- Item Validation -->
                        <li class="nav-item">
                            <a href="pages/forms/validation.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Validation</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Fin Forms -->
                <!-- Inicio Tables -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Tables
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <!-- Menu Tables Arbol -->
                    <ul class="nav nav-treeview">
                        <!-- Item Simple Tables -->
                        <li class="nav-item">
                            <a href="pages/tables/simple.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Simple Tables</p>
                            </a>
                        </li>
                        <!-- Item Data Tables -->
                        <li class="nav-item">
                            <a href="pages/tables/data.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Data Tables</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- Fin Tables -->

                <!-- Calendario -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Calendar" asp-action="Index">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Calendar
                        </p>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>