<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Logo AdminLTE 3 -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/dist/img/AdminLTELogo.png" alt="Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Apoyos</span>
    </a>

    <!-- Inicio Sidebar -->
    <div class="sidebar">


        <!-- Inicio Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- Inicio Tablas -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Registros
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <!-- Menu Tablas Arbol -->
                    <ul class="nav nav-treeview">
                        <!-- Item Habitantes -->
                        <li class="nav-item">
                            <a asp-controller="Habitantes" asp-action="Listar" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Habitantes</p>
                            </a>
                        </li>
                        <!-- Item Apoyos -->
                        <li class="nav-item">
                            <a asp-controller="Apoyos" asp-action="Listar" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Apoyos</p>
                            </a>
                        </li>
                        <!-- Item Beneficios -->
                        <li class="nav-item">
                            <a asp-controller="Beneficios" asp-action="Listar" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Asignación</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <!-- Fin Tablas -->
                <!-- Inicio Reportes y Estadisticas -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Administración
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <!-- Menu Reportes y Estadisticas Arbol -->
                    <ul class="nav nav-treeview">
                        <!-- Item Reportes -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Reportes" asp-action="Excel">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Reportes</p>
                            </a>
                        </li>
                        <!-- Item Estadisticas -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Estadisticas" asp-action="Resumen">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Estadísticas</p>
                            </a>
                        </li>

                    </ul>

                </li>
                <!-- Fin Reportes y Estadísticas -->



            </ul>
        </nav>
        <!-- Fin Sidebar Menu -->
    </div>
    <!-- Fin Sidebar -->
</aside>