@model HabitanteViewModel

@{
    ViewData["Title"] = "Detalles Habitante";
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Reportes</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Reportes</a></li>
                        <li class="breadcrumb-item active">Excel</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                
                <label class="form-label">Mes</label>
                <select class="mb-3 form-select">
                    <option>Enero</option>
                    <option>Febrero</option>
                </select>
                <label class="form-label">Año</label>
                <select class="mb-3 form-select">
                    <option>2021</option>
                    <option>2022</option>
                </select>
                <a class="btn btn-success">
                    Exportar Reporte a Excel
                </a>
            </div>
        </div>
    </section>

</div>