@model HabitanteViewModel

@{
    ViewData["Title"] = "Detalles Habitante";
}

<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Estadísticas</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Estadísticas</a></li>
                        <li class="breadcrumb-item active">Resumen</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card card-navy">

                    <div class="card-header">
                        <h3 class="card-title">Resumen</h3>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>Habitantes Registrados: </label>
                            <p class="text-muted">
                                274
                            </p>

                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Apoyos Disponibles: </label>
                            <p class="text-muted">
                                300
                            </p>

                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Apoyos Asignados: </label>
                            <p class="text-muted">
                                210
                            </p>

                            <hr>
                        </div>
                        <div class="form-group">
                            <label>Apoyos Entregados: </label>
                            <p class="text-muted">
                                64
                            </p>

                            <hr>
                        </div>

                        <div class="form-group">
                            <label>Apoyos Entregados: </label>
                            <p class="text-muted">
                                64
                            </p>

                            <hr>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>